<div class="container">
<div class="row">
<div class="col" id="sidebar"><!-- col-xl-2 hizo un efecto especial -->
  <div class="list-group panel">
           <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Item 1</span> </a>
           <div class="collapse" id="menu1">
               <a routerLink="/cursos" class="list-group-item" data-parent="#menu1">Cursos</a>
               <a href="http://google.com" class="list-group-item" data-parent="#menu1">Subitem 1</a>
               <a href="#" class="list-group-item" data-parent="#menu1">Subitem 2</a>
           </div>
           <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Item 3 </span></a>
           <div class="collapse" id="menu3">
               <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
               <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
               <div class="collapse" id="menu3sub2">
                   <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
                   <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
                   <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
               </div>
               <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
           </div>
       </div>
</div>
</div>
</div>