<div id="contenedor" >
    <div id="cabecera" >
      <div id="cab_Contenido">
      
        <div id="cab_Cont_Logo"></div>
        <div id="cab_Cont_Detalle" >
          <div id="cab_Cont_Det_Informacion">
            <div id="cab_Cont_Det_Inf_AnioLegal">
              Lima,<span> </span>bmSesion.fechaActual<span> </span>|
              <span> </span>bmSesion.anioDeclaracion"
            </div>
          </div>
          <div id="cab_Cont_Det_Titulo">
            <div id="cab_Cont_Det_Tit_Texto">Sistema de Administracion Inmobiliaria</div>
            <div id="cab_Cont_Det_Tit_Derecha"></div>
          </div>
          <div id="cab_Cont_Det_Informacion">
            <div id="cab_Cont_Det_Inf_Saludo">
              Buenos dias, <b>bMUsuario.noUsuario</b>                    	
            </div>
          </div>
        </div>
      </div>
      <div id="cab_Sombra">
        <div id="cab_Som_UbicacionPlataforma">        		        		

        </div>	
        <div id="cab_Som_Ubicacion">
          :: Usted se encuentra en:<span>UBICACION</span>
        </div>
         
        <form >				
        
            <a href="#" class="cab_Som_Session">
              <span>Cerrar sesión</span>
              <a event="onclick" status="siguiente" oncomplete="javascript:window.close();" >
              </a>
            </a>
          
        </form>
      </div>
    </div>
    <div id="cuerpo">
      <div id="menu">
        <h1>MENU</h1>
        <ul id="men_ContenedorItem">
          
        </ul>
      </div>
      <div id="menuEspacio">
      </div>
      <div id="escritorio">
        <h1>TITULO</h1>      
        <h2><span></span></h2>
        <div class="esc_formulario" style="width:100%">
          <div class="messages">
          </div>
          <div class="programa" >
            
          </div>
        </div>
      </div>
      <div id="piePagina" >
        <div id="pie_InfoDerecha">Oficina de Normalizacion Previsional, ONP 2013</div>
        <div id="pie_InfoIzquierda">
          <span id="pie_gmd"></span><span id="pie_css"></span><span id="pie_html"></span>
        </div>
      </div> 
    </div>
  </div>